@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bowlby+One+SC&family=Cookie&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gabarito:wght@400..900&family=Sigmar+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
.text a{
    text-decoration: none;
    letter-spacing: .2em;
    font-size: 22px;
    color: #000;
    font-weight: 700;
}
nav ul{
    display: flex;
    list-style: none;
    column-gap: 30px;
    margin: 0px;
    align-items: center;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover , .home a{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.headericon{
    display: flex;
    column-gap:20px;
}
.headericon a{
text-decoration: none;
color: black;
}
.sec1{
    display: flex; 
    flex-direction:column;
    justify-content: center; 
    align-items: center; 
    row-gap: 50px;
    padding-bottom: 120px;
    background-image: url("image/bc\ img.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.head p{
    padding-top: 120px;
    color: rgb(228, 96, 8);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: bold;
}
.head h1{
    text-align: center;
    font-weight: 700;
    color: #c54109;
    font-size: 3rem;
}
.but button{ 
    padding: 8px 60px;
}
.sec2{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.card1{
    background-color: #1ad5d5;
    padding: 40px 20px;
    text-align: center;
    border-radius:4px;
    color: white;
}
.card2{
    background: #74d12b;
    padding: 40px 20px;
    text-align: center;
    border-radius:4px;
    color: white;
}
.card3{
    background-color: #ffc107;
    padding: 40px 20px;
    text-align: center;
    border-radius:4px;
    color: white;
}
 .card1 h5 , .card2 h5 ,.card3 h5{
    font-style: italic;
    font-size: 2rem;
}
 .card1 p , .card2 p ,.card3 p{
font-weight: bold;
}
 .card1 span , .card2 span ,.card3 span{
font-weight: 300;
}
.sec3{
    padding-top: 150px;
    padding-bottom: 30px;
}
.sec3 p{
    font-weight: 650;
}
.butsec3{
    display: flex;
    justify-content: center;
}
.butsec3 a {
font-weight:600;
}
.sec4{
    padding-top: 100px;
    padding-bottom: 70px;
    background-color:#f8f9fa;
}
.multiple-items .slick-next {
    right: 25px;
}
.multiple-items .slick-prev {
    left: 25px;
}
.padding{
    padding-top: 50px;
}
.sec5{
    padding-top: 80px;
    background-color: #ffffff;
    padding-bottom: 80px;
}
.sec5 h2{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 45px;
}
.image img{
    border-radius: 50% !important;
    width: 25% !important;
}
.paragraph{
    padding:30px;
    color: #000;
  font-family: "Crimson Text", serif;
    font-size: 1.3rem;
    line-height: 1.5;
    font-style: italic;
    margin: 0px;
}
.A {
    line-height: 1.2;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}
.sec6{
    background-color: #59e6e7;
    padding-bottom: 60px;
    padding-top: 60px;
}
.bc-img1{
position: relative;
}
.bc-img1 img{
    width: 100%;
    height: 100%;
}
#text{
    position: absolute;
    top: 30px;
    left: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.bc-img2{
position: relative;
}
.bc-img2 img{
    width: 100%;
}
#text1{
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.sec6 h2{
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
}
.sec6 p{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}
.col{
    transform: translateY(0);
    transition: transform 0.4s ease-out;
}
.col:hover{
    cursor: pointer;
    transform: translateY(-15px)
}
footer a{
    text-decoration: none;
}
.foot{
    font-size: 1.34rem;
    color: #000;
    font-weight: 600;
}
.foot ,.fot1{
    display: flex;
  justify-content: space-around;
}
.fot1{
    padding-top:40px;
}
.foot11 div:hover{
    color: #51eaea;
}
.fot1 p{
    line-height: 1.7;
    color: #575e6d;
    font-weight: 500;
    font-size: 16px;
}
.foot11 div{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.foot11 , .contactfot{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.contactfot, .contactfot a{
    color: #25262a;
    transition: all 0.3s ease-in-out;
}
.contactfot a:hover{
    color: #51eaea;
}
footer i{
    color: #51eaea;
}
.lastfot{
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 50px;
    color: #8c92a0;
}
.lastfot i{
    color: #8c92a0;
}
.lastfot span{
    color: #51eaea;
    font-weight: 600;
}
footer{
    background-color: #ffffff;
    padding-top: 60px;
    color: #575e6d;
}
